<%- include("partials/header.ejs") %>

<div class="sheet-Body">
  <div class="header">
    <h2><%=dataStructure.topicName %></h2>
  </div>

  <div class="body">
    <h2><%=dataStructure.questions.length %></h2>
  </div>
</div>

<%- include("partials/footer.ejs") %>
