* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --color-primary: #5f1687;
  --color-secondary: #1bd6bf;
  --color-white: #fff;
  --color-black: #000;
  --color-no-0: #f8f8f8;
  --color-no-1: #dbe1e8;
  --color-no-2: #b2becd;
  --color-no-3: #6c7983;
  --color-no-4: #56648e;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

body {
  background-color: peru;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--color-white);
}

/* REMOVES SCROLL, EVEN ITS FUNCTIONING */
body {
  overflow: hidden;
}

/* REMOV SCROLL, BUT NOT ITS FUNCTIONING */
.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: white;
}
.nav .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.nav .active-btn i {
  color: var(--color-white) !important;
}
.nav .control {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--color-no-4);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;
  box-shadow: var(--box-shadow-1);
}
.nav .control i {
  font-size: 1.2rem;
  color: var(--color-white);
  pointer-events: none;
}
.nav .control:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.about-Body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: green;
}
.about-Body .about-Page {
  background-color: yellowgreen;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-Body .about-Page h1 {
  text-align: center;
  width: 100%;
  border: 2px solid brown;
  padding: 2rem;
}
.about-Body .about-Page .about {
  width: 80%;
  background-color: blueviolet;
  padding: 1rem 3rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-Body .about-Page .about h2 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin: 1rem;
  border-bottom: 2px solid;
}
.about-Body .about-Page .about h4 {
  text-align: center;
  width: 80%;
  font-size: 2rem;
  background-color: #1bd6bf;
}

/* SCROLLING EFFECT */
.main-Box,
.table-Body {
  float: right;
  overflow-y: auto;
  height: 700px;
}

.main-Box::-webkit-scrollbar,
.table-Body::-webkit-scrollbar {
  width: 15px;
}

.main-Box::-webkit-scrollbar-track,
.table-Body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.main-Box::-webkit-scrollbar-thumb,
.table-Body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f90;
}

.main {
  padding: 0.5rem 2rem;
}
.main .main-Box {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
}
.main .main-Box .item {
  background-color: #acd1e8;
  border-radius: 20px;
  padding: 0.5rem;
}
.main .main-Box .item a {
  text-decoration: none;
}
.main .main-Box .item .image {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.main .main-Box .item .image img {
  width: 100%;
  border-radius: 20px;
  border-bottom: 2px solid black;
}
.main .main-Box .item .name {
  font-size: 1.5rem;
  text-align: center;
  background-color: palegoldenrod;
  border-radius: 20px;
  color: green;
  transition: all 0.4s ease-in-out;
}
.main .main-Box .item .name .itemName {
  font-size: 2.5rem;
  text-transform: capitalize;
  border-top: 2px solid black;
  border-radius: 20px;
}
.main .main-Box .item .name .dsInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: flex-start;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.main .main-Box .item .name .dsDef {
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  padding: 0.5rem;
  min-height: 0;
  max-height: 0;
}
.main .main-Box .item .name .dsDef .paraContent {
  transition: all 0.4s ease-in-out;
}
.main .main-Box .item:hover {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.main .main-Box .item:hover .image {
  transform: scale(0);
}
.main .main-Box .item:hover .name {
  transform: translateY(-10.5rem);
}
.main .main-Box .item:hover .name .itemName {
  text-decoration: underline;
}
.main .main-Box .item:hover .name .dsInfo {
  transform: scale(0);
}
.main .main-Box .item:hover .name .dsDef {
  transform: scale(1);
  min-height: 18vh;
}
.main .main-Box .item:hover .name .dsDef .paraContent {
  transform: translateY(-7rem);
}

.sheet-Main {
  align-items: center;
  justify-content: center;
  display: flex;
}
.sheet-Main .sheet-Main-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet-Main .sheet-Main-Box .header {
  width: 90%;
  padding: 1rem 0;
  background-color: lightblue;
  text-align: center;
}
.sheet-Main .sheet-Main-Box .header a {
  text-decoration: none;
}
.sheet-Main .sheet-Main-Box .body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sheet-Main .sheet-Main-Box .body .table-Body {
  width: 85%;
  height: 70vh;
  padding: 0.5rem 0.2rem;
}
.sheet-Main .sheet-Main-Box .body .table-Body table {
  table-layout: fixed;
  width: 100%;
  color: darkcyan;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr {
  background-color: lightcyan;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr th.questions,
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.questions {
  width: 82%;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr th.questions a,
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.questions a {
  text-decoration: none;
  color: inherit;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr th.questions a:hover,
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.questions a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr th.cb,
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.cb {
  width: 3%;
  text-align: center;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr th.cb input[type=checkbox],
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.cb input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr th.id,
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.id {
  width: 5%;
  text-align: center;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr th {
  height: 4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr td {
  padding: 10px;
  font-size: 1.2rem;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sheet-Main .sheet-Main-Box .body .table-Body table tr td.links img {
  width: 30px;
  height: 30px;
}

.theme-btn {
  position: fixed;
  left: 94%;
  top: 90%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-no-4);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-5px);
}
.theme-btn i {
  font-size: 2rem;
  color: var(--color-white);
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */