* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --color-primary: #5f1687;
  --color-secondary: #1bd6bf;
  --color-white: #fff;
  --color-black: #000;
  --color-no-0: #f8f8f8;
  --color-no-1: #dbe1e8;
  --color-no-2: #b2becd;
  --color-no-3: #6c7983;
  --color-no-4: #56648e;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

body {
  // background-color: var(--color-primary);
  background-color: peru;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--color-white);
}

/* REMOVES SCROLL, EVEN ITS FUNCTIONING */
body {
  overflow: hidden;
}
// body::-webkit-scrollbar {
//   display: none;
// }

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: all 0.4s ease-in-out;
    i {
      color: var(--color-white) !important;
    }
  }
  .control {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--color-no-4);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
    box-shadow: var(--box-shadow-1);
    i {
      font-size: 1.2rem;
      color: var(--color-white);
      pointer-events: none;
    }
  }

  .control:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
}

/* SCROLLING EFFECT */
.main-Box {
  float: left;
  // width: 1000px;
  overflow-y: auto;
  height: 700px;
}

.main {
  // background-color: yellow;
  // height: 90%;
  padding: 0.5rem 2rem;
  .main-Box {
    // background-color: brown;
    // height: inherit;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    .item {
      background-color: #acd1e8;
      // display: flex;
      // flex-direction: column;
      border-radius: 20px;
      transition: all 0.2s ease-in-out;
      padding: 0.5rem;
      a {
        text-decoration: none;
      }
      .image {
        // flex: 60%;
        // padding: 0.5rem;
        // border: 2px solid red;
        // border-radius: 20px;
        // background-color: green;
        // display: none;
        // transition: all 0.4s ease-in-out;
        img {
          width: 100%;
          // height: 100%;
          // object-fit: cover;
          border-radius: 20px;
          border-bottom: 2px solid black;
        }
      }
      .name {
        // flex: 40%;
        font-size: 1.5rem;
        text-align: center;
        background-color: palegoldenrod;
        // border: 2px solid blue;
        border-radius: 20px;
        color: green;
        height: 40%;
        transition: all 0.4s ease-in-out;
        h3 {
          border-top: 2px solid black;
          border-radius: 20px;
        }
        p {
          transform: scale(0);
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
  .item:hover {
    transform: scale(1.02);
    transition: all 0.4s ease-in-out;
    .image {
      transform: scale(0);
    }
    .name {
      transform: translateY(-11.5rem);
      position: absolute;
      height: 90%;
      width: 95%;
      h3 {
        text-decoration: underline;
      }
      p {
        transform: scale(1);
      }
    }
  }
}

.theme-btn {
  position: fixed;
  left: 94%;
  top: 90%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-no-4);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
  &:active {
    transform: translateY(-5px);
  }
  i {
    font-size: 2rem;
    color: var(--color-white);
    pointer-events: none;
  }
}
