* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --color-primary: #5f1687;
  --color-secondary: #1bd6bf;
  --color-white: #fff;
  --color-black: #000;
  --color-no-0: #f8f8f8;
  --color-no-1: #dbe1e8;
  --color-no-2: #b2becd;
  --color-no-3: #6c7983;
  --color-no-4: #56648e;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

body {
  // background-color: var(--color-primary);
  background-color: peru;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--color-white);
}

/* REMOVES SCROLL, EVEN ITS FUNCTIONING */
body {
  overflow: hidden;
}
// body::-webkit-scrollbar {
//   display: none;
// }

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: all 0.4s ease-in-out;
    i {
      color: var(--color-white) !important;
    }
  }
  .control {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--color-no-4);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
    box-shadow: var(--box-shadow-1);
    i {
      font-size: 1.2rem;
      color: var(--color-white);
      pointer-events: none;
    }
  }

  .control:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
}

.about-Body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: green;
  .about-Page {
    background-color: yellowgreen;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    h1 {
      text-align: center;
      width: 100%;
      border: 2px solid brown;
      padding: 2rem;
    }
    .about {
      width: 80%;
      background-color: blueviolet;
      padding: 1rem 3rem;
      margin: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        margin: 1rem;
        border-bottom: 2px solid;
      }
      h4 {
        text-align: center;
        width: 80%;
        font-size: 2rem;
        background-color: #1bd6bf;
      }
    }
  }
}

/* SCROLLING EFFECT */
.main-Box,
.sheet-Body {
  float: left;
  // width: 1000px;
  overflow-y: auto;
  height: 700px;
}

.main {
  padding: 0.5rem 2rem;
  .main-Box {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    .item {
      background-color: #acd1e8;
      border-radius: 20px;
      transition: all 0.2s ease-in-out;
      padding: 0.5rem;
      a {
        text-decoration: none;
      }
      .image {
        img {
          width: 100%;
          border-radius: 20px;
          border-bottom: 2px solid black;
        }
      }
      .name {
        font-size: 1.5rem;
        text-align: center;
        background-color: palegoldenrod;
        border-radius: 20px;
        color: green;
        // height: fit-content;
        height: 40%;
        transition: all 0.4s ease-in-out;
        .itemName {
          text-transform: capitalize;
          border-top: 2px solid black;
          border-radius: 20px;
        }
        .dsDef {
          transform: scale(0);
          transition: all 0.4s ease-in-out;
          padding: 0.5rem;
        }
      }
    }
  }
  .item:hover {
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    .image {
      transform: scale(0);
    }
    .name {
      transform: translateY(-11.5rem);
      height: fit-content;
      .itemName {
        text-decoration: underline;
      }
      .dsDef {
        transform: scale(1);
      }
    }
  }
}

table {
  width: 80%;
  tr {
    background-color: lightcyan;
    color: darkcyan;
    text-align: center;
    th {
      border: 2px solid blue;
      padding: 15px;
      width: 25%;
    }
    td {
      padding: 15px;
      width: 25%;
    }
  }
} 
.theme-btn {
  position: fixed;
  left: 94%;
  top: 90%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-no-4);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
  &:active {
    transform: translateY(-5px);
  }
  i {
    font-size: 2rem;
    color: var(--color-white);
    pointer-events: none;
  }
}
